@page "/StateInfo/StateInfo"
@inherits StateInfoBase

@if (!AddEditShowed)
{
    <h3 class="mb-5">State Info</h3>
}


@if (stateInfos == null)
{
    <h3>Loading State ...</h3>
}


@if (stateInfos != null && !AddEditShowed)
{
    @*State List*@

    <div class="row">
        <button type="button" onclick="@showAddEdit" class="btn btn-primary" style="width:fit-content;text-align:right">Add State</button>
    </div>
    
    if (stateInfos.Count() > 0)
    {
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Details</th>
                    <th></th>
                </tr>
            </thead>


        <tbody>
        @foreach (var itm in stateInfos)
        {
            <tr>
                <td>@itm.Id</td>
                <td>@itm.Name</td>
                <td>
                    @itm.Description
                </td>

                        <td>
@*                            <a href='/StateInfo/StateAddEdit/@itm.Id' class="btn btn-outline-dark" role="button">
                                Edit
                            </a>*@
                            <button class="btn btn-outline-dark" @onclick="@(() => showStateEdit(@itm.Id))">Edit</button>
                            @*<button type="button" onclick="@showAddEdit" class="btn btn-outline-dark" role="button">Edit</button>*@
                        </td>

            </tr>
        }

            </tbody>
        </table>
    
    }
}


@if (AddEditShowed)
{
    @*State Add/Edit*@

    <StateAddEdit stateId="@selectedStateId" FromChildCloseAction="@showSalesInfo" 
        ></StateAddEdit>
}

