@page "/Order/OrderAddEdit"

@*<h3>SalesOrderAddEdit</h3>*@
@inherits SalesOrderAddEditBase

<div>

    <button type="button" onclick="@closePage" class="btn btn-primary" style="width:fit-content;text-align:right">
        Close
    </button>

    <button type="button" onclick="@SalesOrderAddEdit" class="btn btn-primary" style="width:fit-content;text-align:right">
        @(selectedId > 0 ? "Update Order" : "Save Order")
    </button>

</div>


<div>
    <fieldset>
        @*<legend>Order</legend>*@
        <EditForm Model="@salesOrderModel" OnValidSubmit="@ValidSubmit">
            <DataAnnotationsValidator />
            <fieldset>
                <div class="row">
                    <div class="col-6">
                        <label class="col-4" for="name">Order Name:</label>
                        <InputText class="form-control col-6" @bind-Value="@salesOrderModel.OrderTitle" />
                    </div>

                    <div class="col-6">
                        <label class="col-4" for="name">State:</label>
                        <InputSelect class="form-select" @bind-Value="salesOrderModel.StateId">
                            @if (salesOrderModel.StateId is null)
                            {
                                <option selected value="">None</option>
                            }

                            @if (stateInfos == null)
                            {
                                <option value="">Loading State ...</option>
                            }
                            else
                            {
                                @foreach (var stateInfo in stateInfos)
                                {
                                    <option value="@stateInfo.Id">@stateInfo.Name (ID: @stateInfo.Id)</option>
                                }
                            }
                            @if (salesOrderModel.StateId is not null)
                            {
                                <option value="">None</option>
                            }
                        </InputSelect>
                    </div>

                </div>

            </fieldset>

        </EditForm>

    </fieldset>

</div>

<div class="row">
    <div class="col-12">
        <SalesOrderWindowInfo salesOrderModel="@salesOrderModel" FromWindowAction="receiveFromWindow"></SalesOrderWindowInfo>
    </div>
    <div class="col-12">
        <WindowSubElement salesOrderModel="@salesOrderModel"></WindowSubElement>
    </div>

</div>
