@page "/Order/SalesOrder"
@inherits SalesOrderInfoBase
<h3>Sales Order</h3>

@if (!AddEditShowed)
{
    @*State List*@
    <div class="row">
        <div class="col-5">
            <button type="button" onclick="@showAdd" class="btn btn-primary" >Add Order</button>

        </div>

        <div class="col-5">
            <Button Color="ButtonColor.Primary"  @onclick="OnAddClick">Show Modal</Button>

        </div>


    </div>




    @if (salesOrders.Count() == 0)
    {
        <h3>Loading ...</h3>
    }

    if (salesOrders.Count() > 0)
    {
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">State</th>
                    <th></th>
                   
                </tr>
            </thead>


            <tbody>
                @foreach (var itm in salesOrders)
                {
                    <tr>
                        <td>@itm.Id</td>
                        <td>@itm.OrderTitle</td>
                        <td>
                            @itm.StateName
                        </td>

                        <td>
                            <button class="btn btn-outline-dark" @onclick="@(() => showEdit(@itm.Id))">Edit</button>

                            <button class="btn btn-outline-dark" @onclick="@(() => OnShowEdit(@itm.Id))">Edit Modal</button>


                            <button class="btn btn-outline-danger" @onclick="@(() => delete(@itm))">Delete</button>
                        </td>


                    </tr>
                }

            </tbody>
        </table>

    }
}


<BlazorModal ShowModal=@showModal PageTitle="@AddEditTitle" modal_minWidth="900px" modal_minHeight="700px">
    <Body>
        <SalesOrderAddEdit selectedId="@selectedId" FromChildCloseAction="@closeAction"></SalesOrderAddEdit>

    </Body>
</BlazorModal>


@*<Modal @ref="modal" />*@


<Modal @ref="modal"
       title="@AddEditTitle"
       OnHiding="OnModalHiding"
       Size="ModalSize.Large"
>

    <BodyTemplate>
        <SalesOrderAddEdit selectedId="@selectedId" FromChildCloseAction="@closeAction"></SalesOrderAddEdit>
    </BodyTemplate>


</Modal>


@*<Modal @ref="modal" >
    <BodyTemplate>
        <SalesOrderAddEdit FromChildCloseAction="@closeAction"></SalesOrderAddEdit>
    </BodyTemplate>

</Modal>*@



