@using SalesOrder.Models.Dtos
<h3>Window Sub Element</h3>

@if (!AddEditShowed)
{
    @*State List*@
    <div>
        <button type="button" onclick="@showAdd" class="btn btn-primary" style="width:fit-content;text-align:right">Add Window SubElement</button>
    </div>


    if (windowSubElements.Count() > 0)
    {
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Window</th>
                    <th scope="col">Element</th>
                    <th scope="col">Type</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th></th>
                </tr>
            </thead>


            <tbody>
                @foreach (var itm in windowSubElements)
                {
                    <tr>
                        <td>@itm.WindowTitle</td>
                        <td>@itm.SubElement</td>
                        <td>@itm.SubElementType</td>
                        <td>
                            @itm.SubElementWidth
                        </td>
                        <td>
                            @itm.SubElementHeight
                        </td>

                        <td>
                            <button class="btn btn-outline-dark" @onclick="@(() => showEdit(@itm.Id??0))">Edit</button>
                            <button class="btn btn-outline-danger" @onclick="@(() => delete(@itm))">Delete</button>
                        </td>

                    </tr>
                }

            </tbody>
        </table>

    }


}

<BlazorModal ShowModal=@showModal PageTitle="@AddEditTitle" modal_minWidth="600px">
    <Body>
        <WindowSubElementAddEdit selectedId="@selectedId"
                                 WindowSubElements="@windowSubElements"
                                 OrderWindowList="@orderWindowList"
                                 FromChildCloseAction="@closeAction"></WindowSubElementAddEdit>
    </Body>
</BlazorModal>


@code {

    [Parameter]
    public SalesOrderDto salesOrderModel { get; set; } = default!;




    public List<SalesOrderWindowDto> orderWindowList { get; set; }


    public List<WindowSubElementDto> windowSubElements { get; set; }
    public bool showModal = false;
    private bool IsAddEditShowed = false;
    public bool AddEditShowed { get { return IsAddEditShowed; } set { IsAddEditShowed = value; } }
    public int selectedId = 0;
    public string AddEditTitle { get; set; }


    protected override async Task OnInitializedAsync()
    {
        windowSubElements = new List<WindowSubElementDto>()
                                    { new WindowSubElementDto{IsBlank=true } };

        //orderWindowList = salesOrderModel.SalesOrderWindowList;

    }


    protected override async Task OnParametersSetAsync()
    {
        windowSubElements = salesOrderModel.WindowSubElementList;
    }

    private async void HandleValidSubmit()
    {

    }

    public void showAdd()
    {
        AddEditTitle = "Add Window Sub-Element";
        selectedId = 0;
        orderWindowList = salesOrderModel.SalesOrderWindowList;
        showModal = true;

    }

    public void showEdit(int Id)
    {
        AddEditTitle = "Edit Window Sub-Element";
        selectedId = Id;
        orderWindowList = salesOrderModel.SalesOrderWindowList;
        showModal = true;
    }


    public void delete(WindowSubElementDto row)
    {
        selectedId = row.Id ?? 0;


        if (!(row.IsNew ?? false))
        {
            if (salesOrderModel.WindowSubElementDeleteList == null)
                salesOrderModel.WindowSubElementDeleteList = new List<WindowSubElementDto>();
            salesOrderModel.WindowSubElementDeleteList.Add(row);
        }

        windowSubElements.Remove(row);

    }

    public void closeAction(List<WindowSubElementDto> windowSubElementsData)
    {
        AddEditShowed = false;
        selectedId = 0;
        windowSubElements = windowSubElementsData;
        salesOrderModel.WindowSubElementList = windowSubElementsData;
        showModal = false;

        StateHasChanged();
    }

}
