@using SalesOrder.Models.Dtos


<div>

    <button type="button" onclick="@closePage" class="btn btn-primary" style="width:fit-content;text-align:right">
        Close
    </button>

    <button type="button" onclick="@SubElementAddEdit" class="btn btn-primary" style="width:fit-content;text-align:right">
        @(selectedId > 0 ? "Update Window" : "Add Window")
    </button>

</div>

<div>
    <fieldset>
        @*<legend>Window SubElement</legend>*@
        <EditForm Model="@orderWindowModel" OnValidSubmit="@ValidSubmit">
            <DataAnnotationsValidator />
            <fieldset>


                <div class="row mb-2">
                    <label class="col-4" for="name">Window:</label>
                    <InputSelect class="form-select" @bind-Value="orderWindowModel.OrderWindowId">
                        @if (orderWindowModel.OrderWindowId is null)
                        {
                            <option selected value="">None</option>
                        }

                        @if (orderWindowModel == null)
                        {
                            <option value="">Loading ...</option>
                        }
                        else
                        {
                            @foreach (var stateInfo in OrderWindowList)
                            {
                                <option value="@stateInfo.Id">@stateInfo.WindowTitle (ID: @stateInfo.OrderWindowId)</option>
                            }
                        }
                    </InputSelect>
                </div>

                <div class="row mb-2">
                    <label class="col-4" for="name">Sub-Element</label>
                    <InputNumber class="form-control col-6" @bind-Value="@orderWindowModel.SubElement" />
                </div>

                <div class="row mb-2">
                    <label class="col-4" for="name">Type</label>
                    <InputText class="form-control col-6" @bind-Value="@orderWindowModel.SubElementType" />
                </div>

                <div class="row mb-2">
                    <label class="col-4" for="name">Width</label>
                    <InputNumber class="form-control col-6" @bind-Value="@orderWindowModel.SubElementWidth" />
                </div>

                <div class="row mb-2">
                    <label class="col-4" for="name">Height</label>
                    <InputNumber class="form-control col-6" @bind-Value="@orderWindowModel.SubElementHeight" />
                </div>
            </fieldset>

        </EditForm>

    </fieldset>

</div>
@code {
    [Parameter]
    public int selectedId { get; set; }


    [Parameter]
    public Action<List<SalesOrderDto>> FromChildCloseAction { get; set; } = default!;

    [Parameter]
    public List<SalesOrderDto> WindowSubElements { get; set; }

    public SalesOrderDto orderWindowModel { get; set; } = default!;
    
    [Parameter]
    public List<SalesOrderDto> OrderWindowList { get; set; } = default!;

    //[Parameter]
    public EventCallback ValidSubmit { get; set; } = default!;


    protected override async Task OnInitializedAsync()
    {
        //WindowSubElements = new List<SalesOrderDto>();
        orderWindowModel = new SalesOrderDto();
    }



    public async Task SubElementAddEdit()
    {
        try
        {
            if (selectedId > 0)
            {
                //orderWindowModel = await stateInfoService.UpdateState(orderWindowModel);
                WindowSubElements.Add(orderWindowModel);
            }
            else
            {
                orderWindowModel.Id = WindowSubElements.Max(p => p.Id) + 1;

                WindowSubElements.Add(orderWindowModel);
                //orderWindowModel = await stateInfoService.AddState(orderWindowModel);
                //await closePage();
            }

            if (WindowSubElements.Count > 1)
            {

                var objBlankEntry = WindowSubElements.FirstOrDefault(p => p.IsBlank == true);
                if (objBlankEntry != null)
                    WindowSubElements.Remove(objBlankEntry);
            }


            await closePage();
        }
        catch (Exception ex)
        {

            throw ex;
        }
    }




    public async Task closePage()
    {

        // var stateInfos = await stateInfoService.GetStates();

        FromChildCloseAction(WindowSubElements);
    }
}
