@using SalesOrder.Models.Dtos
<h3>Window Sub-Element</h3>

@if (!AddEditShowed)
{
    @*State List*@
    <div class="row">
        <button type="button" onclick="@showAdd" class="btn btn-primary" style="width:fit-content;text-align:right">Add Window Sub-Element</button>
    </div>


    if (orderWindows.Count() > 0)
    {
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Element</th>
                    <th scope="col">Type</th>
                    <th scope="col">Width</th>
                    <th scope="col">Height</th>
                    <th></th>
                </tr>
            </thead>


            <tbody>
                @foreach (var itm in orderWindows)
                {
                    <tr>
                        <td>@itm.SubElement</td>
                        <td>@itm.SubElementType</td>
                        <td>
                            @itm.SubElementWidth
                        </td>
                        <td>
                            @itm.SubElementHeight
                        </td>

                        <td>
                            <button class="btn btn-outline-dark" @onclick="@(() => showEdit(@itm.Id))">Edit</button>

                        </td>

                    </tr>
                }

            </tbody>
        </table>

    }


}

<BlazorModal ShowModal=@showModal PageTitle="@AddEditTitle" modal_minWidth="600px">
    <Body>
        <WindowSubElementAddEdit selectedId="@selectedId" FromChildCloseAction="@closeAction"></WindowSubElementAddEdit>
    </Body>
</BlazorModal>


@code {
    public IEnumerable<SalesOrderDto> orderWindows { get; set; }
    public bool showModal = false;
    private bool IsAddEditShowed = false;
    public bool AddEditShowed { get { return IsAddEditShowed; } set { IsAddEditShowed = value; } }
    public int selectedId = 0;
    public string AddEditTitle { get; set; }


    protected override async Task OnInitializedAsync()
    {
        orderWindows = new List<SalesOrderDto>() 
                                    { new SalesOrderDto{OrderTitle="" } };

    }


    public void showAdd()
    {
        AddEditTitle = "Add Window Sub-Element";
        selectedId = 0;
        showModal = true;

    }

    public void showEdit(int Id)
    {
        AddEditTitle = "Edit Window Sub-Element";
        selectedId = Id;
        showModal = true;
    }

    public void closeAction(IEnumerable<SalesOrderDto> orderWindowData)
    {
        AddEditShowed = false;
        selectedId = 0;
        orderWindows = orderWindowData;
        showModal = false;

        StateHasChanged();
    }

}
